<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" IgnorableNamespaces="uap mp">
  <Identity Name="UnsplashMobile" Publisher="CN=UnsplashMobile" Version="1.0.0.0" />
  <Properties>
    <DisplayName>UnsplashUWP</DisplayName>
    <PublisherDisplayName>Royalturd</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.15063.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UnsplashMobile.App">
      <uap:VisualElements DisplayName="UnsplashUWP" Description="Unsplash API client with OAuth login" BackgroundColor="#171717" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
  <mp:PhoneIdentity PhoneProductId="1b3f5ab2-cfc4-4d79-9c36-6d9f21d60c45" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
</Package>
